body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: snow;
}
#part2 {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: auto;
  max-width: 275px;
  padding: 20px;
  border-radius: 8px;
}
input {
  margin-left: 20%;
}